C:/Users/zduro/OneDrive/Desktop/Academics/M  Math 378/378 Final Project/FinalProject378Durocher/.Rproj.user/shared/notebooks/69098E92-model/1/s/c5p45tf5nr17k_t